.mohtavayeRaygan{
    width: 100%;
    height: 400px;
    background-color: #151515;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 30px; 
    box-sizing: border-box;
    .titleFree{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        font-size: 15px;
        font-family: iranSans;
        font-weight: bold;
        color: white;
        padding-right: 20px;
        box-sizing: border-box;
    }
}

a[class="aForSwiper"]{
    width: 80%;
    background-color: #151515;
    img{
        border-radius: 10px;
        opacity: .7;
    }
}

.nameMovie{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    font-size: 11px;
    font-family: iranSans;
    color: white;
}
